$colors-pallet: ['secondary', 'error', 'warning', 'success', 'danger', 'info', 'primary'];
$sizes-list: ['small', 'medium', 'large'];

// Миксин скрывающий элемент визуально но не физически
@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
}

@mixin part($partName) {
  [data-part="#{$partName}"] {
    @content;
  }
}

@mixin state($stateName, $and: false) {
  @if ($and == false) {
    [data-state="#{$stateName}"] {
      @content;
    }
  } @else {
    &[data-state="#{$stateName}"] {
      @content;
    }
  }
}

@mixin is-status($statusName) {
  [data-#{$statusName}] {
    @content;
  }
}

@mixin colors-variations($content, $colors-pallet) {
  @each $color in $colors-pallet {
    .#{$color} {
      @content;
    }
  }
}