.sidebar {
  position: relative;
}

.content {
  flex-grow: 1;
  padding-left: 1rem;
  padding-right: 1rem;
}

.resizeHandle {
  width: 5px;
  cursor: col-resize;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  &:hover {
    background-color: color-mix(in srgb, var(--ant-layout-sider-bg), var(--black) 10%);
  }

  &.resize {
    background-color: color-mix(in srgb, var(--ant-layout-sider-bg), var(--black) 20%);
  }
}

