.app_theme_dark {
  --theme-color-bg: var(--color-primary-50);

  --theme-surface-100: color-mix(in srgb, var(--color-primary), var(--black) 20%);
  --theme-surface-200: color-mix(in srgb, var(--color-primary), var(--black) 40%);
  --theme-surface-300: color-mix(in srgb, var(--color-primary), var(--black) 60%);
  --theme-surface-400: color-mix(in srgb, var(--color-primary), var(--black) 80%);
  --theme-surface-500: color-mix(in srgb, var(--color-primary), var(--black) 90%);
}